<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DICOM 이미지 뷰어 버튼</title>
    <link rel="stylesheet" th:href="@{/css/imageView.css}">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- 버튼 레이아웃 프레그먼트 정의 -->
    <div th:fragment="buttonLayout">
        <div class="button-container">
			<div class="sidebar">
					<button id="listBtn" class="listBtn"></button><br>
					<label class="span">목록</label>
					<button id="toolbarBtn" class="toolbarBtn"></button><br>
					<label class="span">툴바</label>
					<button id="historyBtn" class="historyBtn"></button><br>
					<label class="span">검사이력</label>
					<button id="reportBtn" class="reportBtn"></button><br>
					<label class="span">리포트</label>
			</div>
			<div id="toolbar" class="toolbar">
				<div style="position:relative; left:12px; top:-4px;">
					<button class="BTN" id="prevBtn"><h6 class="label2">이전</h6></button>
		            <button class="BTN" id="nextBtn"><h6 class="label2">다음</h6></button>
		            <button class="BTN" id="playClipBtn"><h6 class="label2">재생</h6></button>
		            <button class="BTN" id="resetBtn"><h6 class="label2">초기화</h6></button>
		            <button class="BTN" id="invertBtn"><h6 class="label2">흑백반전</h6></button>
		            <!--<button class="btn" id="brightnessBtn">밝기/대비조절</button>-->
			
		            <button class="BTN" id="viewSeriesBtn"><h6 class="label2">시리즈모음</h6></button>
		            
		            <!-- 도구 드롭다운 메뉴 -->
			        <div id="toolDropdown" class="tool-dropdown-menu" style="display: none;">
			            <button id="magnifier" class="tool-btn"><h6 class="label">돋보기</h6></button>
			            <!--<button id="zoom" class="tool-btn">확대</button>-->
			            <button id="rotate" class="tool-btn"><h6 class="label">회전</h6></button>
			            <button id="hFlip" class="tool-btn"><h6 class="label">좌우반전</h6></button>
			            <button id="vFlip" class="tool-btn"><h6 class="label">상하반전</h6></button>
			            <button id="lRotate" class="tool-btn"><h6 class="label">좌측회전</h6></button>
			            <button id="rRotate" class="tool-btn"><h6 class="label">우측회전</h6></button>
			        </div>
		            <!-- 주석 드롭다운 메뉴 -->
			        <div id="annotateDropdown" class="annotate-dropdown-menu" style="display: none;">

			            <button id="angle" class="annotate-btn"><h6 class="dlabel">각도</h6></button>
			            <button id="arrow" class="annotate-btn"><h6 class="dlabel">화살표</h6></button>
			            <button id="bidirectional" class="annotate-btn"><h6 class="dlabel">양방향</button>
			            <button id="cobb" class="annotate-btn"><h6 class="dlabel">휘어짐</h6></button>
			            <button id="ellipticalRoi" class="annotate-btn"><h6 class="dlabel">타원</h6></button>
			            <button id="freehandRoi" class="annotate-btn"><h6 class="dlabel">자유형</h6></button>
			            <button id="length" class="annotate-btn"><h6 class="dlabel">길이</h6></button>
			            <button id="probe" class="annotate-btn"><h6 class="dlabel">위치좌표</h6></button>
			            <button id="rectangleRoi" class="annotate-btn"><h6 class="dlabel">사각형</h6></button>
			            <button id="text" class="annotate-btn"><h6 class="dlabel">텍스트</h6></button>
			            <button id="save" class="annotate-btn"><h6 class="dlabel">저장</h6></button>
			            <button id="delete" class="annotate-btn"><h6 class="dlabel">지우기</h6></button>            

			        </div>
			        
		            <button class="BTN" id="ct3d"><h6 class="label2">Viewer</h6></button>
		            
		            <button class="BTN" id="seriesLayoutBtn"><h6 class="label2">시리즈</h6></button>
		            <!-- 시리즈 레이아웃 영역 -->
			        <div id="seriesDropdown" class="dropdown" style="display: none;">
			            <div class="grid-selector-container" id="series-grid-selector"></div>
			        </div>
		            
		            <button class="BTN" id="imgLayoutBtn"><h6 class="label2">이미지</h6></button>
		            <button class="BTN" id="downloadBtn"><h6 class="label2">다운로드</h6></button>
		           	<button class="BTN" id="toolBtn"><h6 class="label2">도구</h6><div id="under-boxT" style="width: 44px; height: 4px; position: absolute; top:-5px; left:-5px;"/></button>
		            <button class="BTN" id="annotateBtn"><h6 class="label2">주석</h6><div id="under-boxA" style="width: 44px; height: 4px; position: absolute; top:-5px; left:-5px;"/></button>
		            <!-- 이미지 레이아웃 영역 -->
	            </div>
		        <div id="dropdown" class="dropdown" style="display: none;">
		            <div class="grid-selector-container" id="grid-selector"></div>
		        </div>
	        </div>
        </div>
    </div>

	<script src="/js/imageView.js"></script>


</body>
</html>
