<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://unpkg.com/cornerstone-core"></script>
<script src="https://unpkg.com/cornerstone-tools"></script>
<script src="https://unpkg.com/dicom-parser"></script><!--가져온 이미지를 파싱해주는 문구-->
<script src="https://unpkg.com/cornerstone-wado-image-loader"></script><!--이미지를 갖고올때 필요한 문구-->
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="login-container">
        <h1><a id="mainTitle" th:href="@{/loginPage}">DView</a></h1>
        
    </div>
</body>
</html>
