<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://unpkg.com/cornerstone-core"></script>
<script src="https://unpkg.com/cornerstone-tools"></script>
<script src="https://unpkg.com/dicom-parser"></script><!--가져온 이미지를 파싱해주는 문구-->
<script src="https://unpkg.com/cornerstone-wado-image-loader"></script><!--이미지를 갖고올때 필요한 문구-->
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<div class="login-background">
    <div class="login-container">
        <h1 class="login-logo">DView</h1>
        <div class="login-box">
            <form th:action="@{/login_check}" method="post">
				<label class="login-label">Username</label><br>
                <input type="text" class="login-line" name="memId" placeholder="Your ID" required><br>
                <label class="login-label">Password</label><br>
                <input type="password" class="login-line" name="password" placeholder="Your password" required><br>
                <a class="find-password" th:href="@{/forgot-password}">Forgot password?</a>
                <br>
                <button type="submit">Sign In</button>
            </form>
            <div class="login-links">
				<label class="signup-label">Don’t have  an account ?</label>
                <a class="signup" th:href="@{/signup}">Sign Up</a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
