<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/signUp.css}">
</head>
<body>
    <div class="signup-container">
        <h1>Sign Up</h1>
        <form th:action="@{/signup}" method="post">
            <!-- 사용자 아이디 -->
            <div>
                <label for="memId">UserId</label><br>
                <input type="text" id="memId" name="memId" placeholder="아이디" required autocomplete="off">
            </div>

            <!-- 사용자 이름 -->
            <div>
                <label for="username">Name</label><br>
                <input type="text" id="username" name="username" placeholder="사용자 이름" required autocomplete="off">
            </div>

            <!-- 비밀번호 -->
            <div>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" placeholder="비밀번호" required>
            </div>

            <!-- 역할 (USER, ADMIN 등) -->
            <div>
                <label for="role">User part</label>
                <select class="selectbox" id="role" name="role">
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>

            <!-- 이메일 -->
            <div>
                <label for="email">Email (option)</label><br>
                <input type="email" id="email" name="email" placeholder="이메일" autocomplete="off">
            </div>

            <!-- 환자 이름 리스트 -->
            <div>
                <label for="patientNames">환자 이름들</label><br>
                <input type="text" id="patientNames" name="patientNames" placeholder="환자 이름들 (콤마로 구분)">
            </div>

            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</body>
</html>
