@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body{
   margin:0px;
}
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #243235;
    font-family: 'Pretendard-Regular';
}
.signup-container h1 {
	color:#889DA0;
	margin-bottom: 36px;
}
.signup-container label {
	color:#659899;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	margin-top:8px;
}
.signup-container input {
	background-color: transparent;
	border: none;
	border-bottom: solid 1px #8D9C9E;
	width: 256px;
    margin: 8px 0px;
    padding-bottom: 6px;
    color:#D8D8D8;
    font-size: 15px;
	font-weight:700;
}
.signup-container input::placeholder{
	font-size: 12px;
	letter-spacing: 0.5px;
	}
.signup-container input:focus {
	outline: none;
}
.selectbox{
	margin:20px;
}
.signup-container select {
  width: 100px;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  margin-left:8px;
  background-color:#889DA0;
  border:none;
}
.signup-container option {
  padding: 4px;
  font-size: 14px;
  color: #fff;
  background: #272822;
}
.signup-container button{
    background: #546A6D;
    color: #fff;
    font-size: 17px;
    border: none;
    padding: 10px 20px;
    width: 260px;
    height: 40px;
    cursor: pointer;
    margin-top:12px;
}
.signup-container button:hover {
	background-color: #889DA0;
}
